<div class="card text-center">
    <div class="card-header">
        <div>{{email}}</div>
    </div>
    <div class="card-body row">
        <div class="col-4">
            <img style=" border-radius: 50%; width: 100px; height: 100px; " src="/images/uploads/{{profile}}"
                alt="user">
        </div>
        <div class="col-4">
            <div style="height:50%; margin: auto;padding: 25px; font-weight: bold;">Total Post </div>
            <div style="height:50%;">{{createdPost}}</div>
        </div>
        <div class="col-4">
            <div style="height:50%; margin: auto;padding: 25px;font-weight: bold;">Save Post </div>
            <div style="height:50%;">{{savedPost}}</div>
        </div>
    </div>
    <div class="card-footer text-start text-muted">
        <h1>{{first_name}} {{last_name}} </h1>
    </div>
</div>