{{#if reqData}}
{{#each reqData}}
<div class="card m-1">
    <div class="card-body row">
        <div class="col-8 row">
            <div class="avatar avatar-m col-2"
                style="background-image:{{#if requestUser.profile}}url(/images/uploads/{{requestUser.profile}}){{else}}url(/images/default/user.png){{/if}}; border-radius: 50%; text-align: start;">
            </div>
            <div class="col-10">
                <h4 style="top: 35%; position: absolute">{{requestUser.full_name}}</h4>
            </div>
        </div>
        <div class="col-4 row">
            <div class="col-6">
                <button id="accept" data-followingid={{followingId}} data-followerid={{followerId}} data-reqid={{_id}}
                    class="btn btn-primary">Accept</button>
            </div>
            <div class="col-6">
                <button id="reject" data-reqid={{_id}} class="btn btn-danger">Reject</button>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div>
            {{{commentTime createdOn}}}
        </div>
    </div>
</div>
{{/each}}
{{else}}
<div>No Request Found</div>
{{/if}}