<div class="card myPost" id="post-{{_id}}">
    <div class="p-2 d-flex justify-content-between" style="align-items: center;">
        <div class="avatar avatar-m"
            style="background-image:{{#if postBy.profile}}url(/images/uploads/{{postBy.profile}}){{else}}url(/images/default/user.png){{/if}}; border-radius: 50%; text-align: start;">
        </div>
        <div>{{postBy.first_name}} {{postBy.last_name}}</div>
        <div class="avatar avatar-sm dropdown" style="cursor: pointer; background: none;"><img data-bs-toggle="dropdown"
                src="/images/default/options.png" alt="option">
            {{#if @root.authUser}}
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                {{#isAuthUser @root.authUser._id postBy._id }}
                {{#unless isArchive}}
                <a href="#" data-postid={{_id}} id="editPost" data-bs-toggle="modal" data-bs-target="#editPostModel"
                    class="dropdown-item">Edit</a>
                {{/unless}}
                <a href="#" data-postid={{_id}} data-archive={{isArchive}} id="archivePost" class="dropdown-item">{{#if
                    isArchive}}unArchive{{else}}Archive{{/if}}</a>
                {{/isAuthUser}}
                {{#isAuthUserSave @root.authUser._id postBy._id}}
                {{#unless isArchive}}
                <a href="#" data-postid={{_id}} id="savedPost" class="dropdown-item">
                    {{#if saved}}unsave{{else}}Save{{/if}}
                </a>
                {{/unless}}
                {{/isAuthUserSave}}
            </div>
            {{/if}}
        </div>
    </div>
    <hr style="margin-top: 0em; margin-bottom: 0em;" />
    <img src="../images/posts/{{postImg}}" style="width: auto; height: 350px;" class="card-img-top" alt="post">
    <hr style="margin-top: 0em; margin-bottom: 0em;" />
    <div class="card-body">
        <span class="card-title">{{this.title}}</span>
        <div class="card-text postContent">
            {{desc}}
        </div>
        <div class="form-check-label form-text p-2" style="text-align: end;">
            {{#if @root.authUser}}
            <span class="ms-3 text-muted">
                <svg id="like" data-postid={{_id}} xmlns="http://www.w3.org/2000/svg"
                    class="icon {{#if liked}}icon-filled text-red{{/if}}" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                </svg>
            </span>
            {{/if}}
            {{#unless @root.authUser}}
            <span class="ms-3 text-muted">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-filled text-red" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                </svg>
            </span>
            {{/unless}}
            <span>{{totalLikes}}</span>
            <span class="p-2 commentIcon" data-postby={{postBy._id}} data-postid={{_id}} data-bs-toggle="modal"
                data-bs-target="#commentModal">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-dots" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4"></path>
                    <path d="M12 11l0 .01"></path>
                    <path d="M8 11l0 .01"></path>
                    <path d="M16 11l0 .01"></path>
                </svg>
            </span>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{{formatDate createdOn}}}
    </div>
</div>

{{!-- Edit Post Model --}}
{{> post/edit}}

{{!-- comment model --}}
{{> post/commentModal}}